.footer {
  padding: 112px 0 58px;
  color: #fff;
  background-color: var(--black-bg-color);

  @include mobile {
    padding-top: 62px;
  }

  &__head {
    @include flex-all-between;
    margin-bottom: 134px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 84px;
    }

    @include small-tablet {
      margin-bottom: 64px;
    }

    @include small-mobile {
      margin-bottom: 44px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;

    @include tablet {
      font-size: 54px;
    }

    @include mobile {
      font-size: 42px;
    }
  }

  &__descr {
    max-width: 543px;
    font-weight: 500;
    line-height: 32px;
    color: var(--neutral-color-50);
  }

  &__link {
    padding: 16px 32px;
    color: #1d1e25;
    background-color: #fff;
  }

  &__body {
    @include flex-all-between;
    margin-bottom: 56px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      flex-direction: column-reverse;
    }

    &-info {
      @include tablet {
        @include flex-align-center;
        gap: 30px;
      }

      @include small-tablet {
        gap: 10px;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
    }

    &-descr {
      max-width: 292px;
      font-weight: 500;
      line-height: 1.62;
      color: var(--neutral-color-150);

      @include tablet {
        max-width: 500px;
      }
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 19px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    @include tablet {
      width: 100%;
    }

    @include mobile {
      display: none;
    }
  }

  &__list {
    display: flex;
    gap: 93px;

    @include mini-desktop {
      gap: 53px;
    }

    @include tablet {
      justify-content: space-between;
    }

    @include mobile {
      gap: 40px 60px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include small-mobile {
      text-align: center;
    }
  }

  &__item {
    &-title {
      margin-bottom: 24px;
      font-weight: 700;
      line-height: 1.5;
    }

    @include mobile {
      min-width: 143px;
    }
  }

  &__subitem {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &-link {
      position: relative;
      font-weight: 400;
      line-height: 1.5;
      color: var(--neutral-color-150);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: var(--neutral-color-150);
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__bottom {
    @include flex-all-between;
    gap: 20px 40px;
    flex-wrap: wrap;
    border-top: 1px solid var(--neutral-color-70);
    padding-top: 40px;

    @include tablet {
      justify-content: center;
    }

    &-lists {
      @include flex-align-center;
      gap: 72px;

      @include tablet {
        gap: 42px;
      }

      @include mobile {
        gap: 20px;
        flex-direction: column;
      }
    }

    &-list {
      display: flex;
      gap: 40px;

      @include tablet {
        gap: 20px;
      }

      @include small-mobile {
        gap: 10px 20px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-link {
      position: relative;
      font-weight: 500;
      line-height: 1.43;
      color: #fff;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__social {
    &-list {
      @include flex-align-center;
      gap: 24px;

      @include tablet {
        gap: 18px;
      }
    }

    &-link {
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__copy {
    font-weight: 500;
    line-height: 1.43;
    color: #fff;
  }
}

.accordion-list {
  display: none;

  @include mobile {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  &__item {
    border: 0.3px solid var(--neutral-color-150);
    border-radius: 30px;
    width: 100%;

    &:not(:last-child) {
      margin: 0 auto 16px;
    }

    &--opened {
      .accordion-list__opened-icon {
        opacity: 1;
      }

      .accordion-list__closed-icon {
        opacity: 0;
      }
    }
  }

  &__control {
    @include flex-all-between;
    gap: 15px;
    padding: 10px 20px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    background: transparent;
    transition: var(--transition);
  }

  &__control-title {
    font-size: 16px;
    color: #fff;
  }

  &__control-icon {
    position: relative;
    transition: var(--transition);
  }

  &__closed-icon {
    transition: var(--transition);
  }

  &__opened-icon {
    position: absolute;
    top: 35%;
    right: 16%;
    opacity: 0;
    transition: var(--transition);
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    transition: var(--transition);
  }
}

.accordion-content {
  display: flex;
  padding: 0 30px;
  transition: var(--transition);

  &__subitem {
    padding-bottom: 20px;

    &-link {
      position: relative;
      margin: 0 auto;
      font-weight: 400;
      line-height: 1.5;
      color: var(--neutral-color-150);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: var(--neutral-color-150);
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
