<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img src="./assets/icons/partners/airbnb-logo-icon.svg" alt="airbnb logo icon" width="97" height="30" />
      </li>
      <li class="partners__item">
        <img src="./assets/icons/partners/amazon-logo-icon.svg" alt="amazon logo icon" width="97" height="30" />
      </li>
      <li class="partners__item">
        <img src="./assets/icons/partners/fedex-logo-icon.svg" alt="fedex logo icon" width="94" height="28" />
      </li>
      <li class="partners__item">
        <img src="./assets/icons/partners/microsoft-logo-icon.svg" alt="microsoft logo icon" width="115" height="25" />
      </li>
      <li class="partners__item">
        <img src="./assets/icons/partners/google-logo-icon.svg" alt="google logo icon" width="90" height="30" />
      </li>
      <li class="partners__item">
        <img src="./assets/icons/partners/ola-logo-icon.svg" alt="ola logo icon" width="92" height="32" />
      </li>
      <li class="partners__item">
        <img src="./assets/icons/partners/walmart-logo-icon.svg" alt="walmart logo icon" width="113" height="27" />
      </li>
      <li class="partners__item">
        <img src="./assets/icons/partners/oyo-logo-icon.svg" alt="oyo logo icon" width="79" height="30" />
      </li>
    </ul>
    <div class="swiper partners__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide partners__item">
          <img src="./assets/icons/partners/airbnb-logo-icon.svg" alt="airbnb logo icon" width="97" height="30" />
        </div>
        <div class="swiper-slide partners__item">
          <img src="./assets/icons/partners/amazon-logo-icon.svg" alt="amazon logo icon" width="97" height="30" />
        </div>
        <div class="swiper-slide partners__item">
          <img src="./assets/icons/partners/fedex-logo-icon.svg" alt="fedex logo icon" width="94" height="28" />
        </div>
        <div class="swiper-slide partners__item">
          <img src="./assets/icons/partners/microsoft-logo-icon.svg" alt="microsoft logo icon" width="115" height="25" />
        </div>
        <div class="swiper-slide partners__item">
          <img src="./assets/icons/partners/google-logo-icon.svg" alt="google logo icon" width="90" height="30" />
        </div>
        <div class="swiper-slide partners__item">
          <img src="./assets/icons/partners/ola-logo-icon.svg" alt="ola logo icon" width="92" height="32" />
        </div>
        <div class="swiper-slide partners__item">
          <img src="./assets/icons/partners/walmart-logo-icon.svg" alt="walmart logo icon" width="113" height="27" />
        </div>
        <div class="swiper-slide partners__item">
          <img src="./assets/icons/partners/oyo-logo-icon.svg" alt="oyo logo icon" width="79" height="30" />
        </div>
      </div>
    </div>
  </div>
</section>